<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Student Zone</title>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://kit.fontawesome.com/64d58efce2.js"
			crossorigin="anonymous"
		></script>
		<link rel="stylesheet" type="text/css" href="/static/css/style_login.css" />
		<title>Sign in & Sign up Form</title>
		<!-- JQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<!-- Bootstrap -->
		<link
			rel="stylesheet"
			type="text/css"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		/>
		<script
			type="text/javascript"
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		></script>
		<script
			type="text/javascript"
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		></script>
		<script
			type="text/javascript"
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
		></script>

		<!-- Datatable -->
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css"
		/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
		<script
			type="text/javascript"
			src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"
		></script>
		<script
			type="text/javascript"
			src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"
		></script>
		<script
			type="text/javascript"
			src="https://cdn.datatables.net/plug-ins/1.10.15/dataRender/datetime.js"
		></script>
	</head>
	<body>
		{% block content %} {# Template inserted here #} {% endblock %}

		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/scripts.js"></script>
		<script src="/static/js/app.js"></script>
	</body>
</html>
