{% extends "base.html" %} {% block content %}
<table
	id="dataview"
	class="display table nowrap responsive"
	style="width: 100%"
>
	<thead>
		<tr>
			{% for header in rowDic.keys() %}
			<th>{{header}}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		<tr>
			{% for data in rowDic.values() %}
			<td>{{data}}</td>
			{% endfor %}
		</tr>
	</tbody>
</table>

<form action="#" , method="post">
	<label for="url">Enter a URL to make it Shorter!</label>

	<input
		type="url"
		name="nm"
		id="url"
		placeholder="https://example.com"
		size="50"
		required
	/>
	<br />
	<input type="submit" value="Shorten" class="btn btn-primary" />
	<a href="javascript:history.back()" class="btn btn-primary">Go Back</a>
</form>

<script>
	$("#dataview").DataTable();
</script>
{% endblock %}
